.card {
  margin: 2rem 2rem 2rem 0;
  padding: 1.5rem;
  width: 300px;
  box-shadow: 0 0 20px 4px rgba(26, 191, 248, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.1);
}

.card-title {
  font-weight: 800;
  font-size: 1.5rem;
}
